.servicePage_flex-2>div:hover{
  background-color: #ffffff;
  box-shadow: 40px 0px 70px rgba(123, 67, 67, 0.07), -40px 100px 70px rgba(122, 79, 79, 0.07);
}
.servicePage_flex-1>div:hover{
    background-color: #3F0598;
    color:white;
    transition: 1s ease-in-out;
}
.servicePage_flex-1>div>p:hover{
    color: white;
}
.slidin_text_animation{
    animation: 3s ease-out 0s 1 slideInFromLeft;
}
.slidin_text_animation-1{
    animation: 3s ease-out 0s 1 slideInFromLeft;
}
.slidin_text_animation-2{
    animation: 3s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
      transform: translatey(50%);
      opacity: 0;
    }
    100% {
      transform: translatey(0);
      opacity: 1;
    }
  }
  .vector1 {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both linear infinite;
  transform: translate3d(0, 0, 0);
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .scroll{
    scroll-behavior: smooth;
  }
  